<div class="flex items-center h-20 bg-navbar px-10">
  <!-- Display logo on video list page -->
  <div *ngIf="!isVideoDetailsPage" class="flex-1 text-white">
    <img src="assets/logo.svg" />
  </div>

  <!-- Display Back button on video details page -->
  <div *ngIf="isVideoDetailsPage" class="flex-1">
    <button [routerLink]="['/videos']" class="flex flex-row text-white">
      <img src="assets/back-icon.svg" class="pr-4 h-6" />Back
    </button>
  </div>

  <!-- Current user profile  -->
  <div class="justify-end">
    <app-profile></app-profile>
  </div>
</div>
